<div class="card" id="note_card_<%= note.id %>" align="center">
  <%= render "app/time_ago", item: note %>
  <p>
    <%= render "message", note: note %>
    <% action = note.action.to_sym %>
    <!-- NOOICE gif -->
    <% if action.eql? :post_like or action.eql? :like_like or action.eql? :user_like or action.eql? :comment_like \
      or action.eql? :proposal_like or action.eql? :vote_like %>
        <%= image_tag "nooice.gif", class: :nooice_img %>
    <% end %>
    
    <% item = if action.eql? :post_like or action.eql? :post_love or action.eql? :post_whoa %>
      <% Post.find_by_id note.item_id %>
    <% elsif action.eql? :proposal_like or action.eql? :proposal_up_voted %>
      <% Proposal.find_by_unique_token note.item_token %>
    <% elsif action.eql? :comment_like %>
      <% Comment.find_by_id note.item_id %>
    <% end %>
    <!-- showing preview content -->
    <% if item %>
      <% if !item.is_a?(Proposal) and !item.is_a?(Comment) and item.pictures.present? and item.pictures.first.image.url %>
        <%= image_tag item.pictures.first.image, class: :note_img_preview %>
      <% elsif item.body.present? %>
        <div class="note_txt_preview">
          <%= item.body[0..20] + "..." %>
        </div>
      <% end %>
    <% end %>
  </p>
</div>
