<div class="art_card" align="center" style="background:pink;">
  <div class="color_palette">
    <% for color in color_palette_2.values %>
      <div class="palette_color"
        style="background:<%= color %>;width:<%= 100.0 / color_palette_2.size.to_f %>%;"></div>
    <% end %>
  </div>
</div>

<div class="art_card" align="center">
  <div class="color_palette">
    <% for color in color_palette.values %>
      <div class="palette_color"
        style="background:<%= color %>;width:<%= 100.0 / color_palette.size.to_f %>%;"></div>
    <% end %>
  </div>
</div>

<%= render "arts/color_block" %>
