<h2 class="standard_page_header">Interactive art by Forrest Wilkins <i class="fa fa-android"></i></h2>

<div class="dark_card" align="center">
  <p>
    The following are interactive art apps built with Processing and Android Studio...
  </p>
</div>

<%= link_to "https://play.google.com/store/apps/details?id=processing.test.bands" do %>
  <div class="dark_card" align="center">
    <%= image_tag "apps/light_0.png", class: :standard_post_image %>
    <p class="justified_body_text" style="width:90%;">
      <b>Light</b> - Let there be light, light that grows and changes by your touch.
    </p>
  </div>
<% end %>

<%= link_to "https://play.google.com/store/apps/details?id=processing.test.motion3d" do %>
  <div class="dark_card" align="center">
    <%= image_tag "apps/space_0.png", class: :standard_post_image %>
    <p class="justified_body_text" style="width:90%;">
      <b>Space</b> - Only through space can motion and color truly manifest. Space is the medium of our existence.
    </p>
  </div>
<% end %>

<%= link_to "https://play.google.com/store/apps/details?id=processing.test.ripples" do %>
  <div class="dark_card" align="center">
    <%= image_tag "apps/ripples_1.png", class: :standard_post_image %>
    <p class="justified_body_text" style="width:90%;">
      <b>Ripples</b> - Tap the screen to see light and color ripple out of the darkness.
    </p>
  </div>
<% end %>

<%= link_to "https://play.google.com/store/apps/details?id=processing.test.lines" do %>
  <div class="dark_card" align="center">
    <%= image_tag "apps/strum_0.png", class: :standard_post_image %>
    <p class="justified_body_text" style="width:90%;">
      <b>Strum</b> - An array of lines that change in color and intensity as you press and drag over them. Swipe left and right for different color sets.
    </p>
  </div>
<% end %>

<%= link_to "https://play.google.com/store/apps/developer?id=Forrest+Wilkins" do %>
  <div class="dark_card" align="center">
    <p>
      Click here to see a full list on the Play Store...
    </p>
  </div>
<% end %>
