<div class="top_line_fader"></div>

<% unless @arts %>
  <%= render "app/slide_menu" %>
    
  <%= link_to '<i class="fa fa-home fa-lg"></i>'.html_safe, root_url,
    class: :return_home_link, title: "Return home" unless @you_are_home %>

  <%= link_to '<i class="fa fa-search fa-lg"></i>'.html_safe, search_path, class: :search_nav_link,
	    title: "Search for groups, users, posts, comments, etc." %>

  <%= render "notes/nav_link" %>

  <%= render "users/current_avatar" %>

  <div id="spacing_header"></div>
<% end %>

<div id="universal_anchor"></div>

<%= render "app/notices" %>

<% unless god? or goddess? or Rails.env.development? %>
  <script>
    // The all seeing Eye...
    <%= render "app/click_anywhere?.js" %>
  </script>
<% end %>

<%= audio_tag "effects/umbrella_1.wav", id: "nav_menu_sound" %>
