<%= render "app/standard_nav_menu" %>

<div id="menu_link_container"></div>

<%= link_to '<i class="fa fa-bars fa-2x"></i>'.html_safe, toggle_menu_path, class: :toggle_menu_link,
  id: :toggle_menu_link, remote: true, title: "Main menu" %>
  
<%= link_to '<i class="fa fa-home fa-lg"></i>'.html_safe, root_url,
  class: :return_home_link, title: "Return home" unless @you_are_home %>

<%= link_to '<i class="fa fa-search fa-lg"></i>'.html_safe, search_path, class: :search_nav_link,
	  title: "Search for groups, users, posts, comments, etc." %>

<%= render "notes/nav_link" %>

<%= render "users/current_avatar" %>

<div id="spacing_header"></div>

<div id="universal_anchor"></div>

<%= render "app/notices" %>

<% unless god? or goddess? or Rails.env.development? %>
  <script>
    // The all seeing Eye...
    <%= render "app/click_anywhere?.js" %>
  </script>
<% end %>

<script>
  var toggle_menu_links = $(".toggle_menu_link");
  toggle_menu_links.click(function(){
    var nav_menu = $("#standard_nav_menu");
    if (nav_menu.is(':hidden')) {  
      nav_menu.fadeIn();
      $("#nav_menu_sound")[0].currentTime = 0;
      $("#nav_menu_sound")[0].play();
    } else {
      nav_menu.fadeOut();
    }
    window.navigator.vibrate(1);
  });
</script>
