<div class="dark_card" id="post_form_card">
  <%= render "posts/form" %>
  <%= render "app/right_pane" %>
</div>

<div id="main_feed_container_anchor" align="center">
  <%= link_to load_index_path, remote: true do %>
    <p style="color:white;">
      Loading...
    </p>
  <% end %>
</div>

<%= audio_tag "effects/magic.wav", id: "zen_sound" %>
<%= audio_tag "effects/bip.mp3", id: "post_interface_sound" %>
