<div class="dark_card" id="post_form_card">
  <%= render "posts/form" %>
  <%= render "app/right_pane" %>
</div>

<div id="main_feed_container_anchor" align="center">
  <%= render "pages/loading" %>
</div>

<script>
  setTimeout(function() {
    $.ajax({
      type: "GET",
      url: "/load_index"
    });
  }, 250);
</script>

<%= audio_tag "effects/magic.wav", id: "zen_sound" %>
<%= audio_tag "effects/bip.mp3", id: "post_interface_sound" %>
