<div class="dark_card" id="post_form_card">
  <%= render "posts/form" %>
  <%= render "app/right_pane" %>
</div>

<div id="main_feed_container_anchor" align="center">
  <%= link_to load_index_path, remote: true do %>
    <p>
      <%= render "pages/load_wheel" %>
    </p>
  <% end %>
</div>

<script>
  function insert_main_feed() {
    var anchor = $("#main_feed_container_anchor");
    anchor.after("<%=j render 'posts/main_feed_container',
      items: @items, all_items: @all_items, char_bits: @char_bits, char_codes: @char_codes, preview_items: @preview_items %>");
    anchor.remove();
  }
</script>

<%= audio_tag "effects/magic.wav", id: "zen_sound" %>
<%= audio_tag "effects/bip.mp3", id: "post_interface_sound" %>
