<div class="dark_card" id="post_form_card">
  <%= render "posts/form" %>
  <%= render "app/right_pane" %>
</div>

<%= render "posts/feed_loader" %>

<%= audio_tag "effects/magic.wav", id: "zen_sound" %>
<%= audio_tag "effects/bip.mp3", id: "post_interface_sound" %>
<%= audio_tag "interface/interface_9.mp3", id: "more_content_sound" %>
