<div class="dark_card" align="center">
  <p>
    <%= product.name %>
  </p>
  <% if product.body.present? %>
    <p class="<%= justified_body product %>">
      <%= render "app/body", item: product %>
    </p>
  <% end %>
  
  <% unless in_my_cart? product %>
    <%= link_to "Add to cart", add_to_cart_path(product.unique_token), method: :put, class: "bottom_right_link white_link" %>
  <% else %>
    <%= link_to "Remove cart", remove_from_cart_path(product.unique_token),
      method: :put, class: "bottom_right_link white_link" %>
  <% end %>
</div>
