<!DOCTYPE html>
<html>
  <head>
    <title><%= current_title %></title>
      
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true unless @cluster_flier_page %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    
    <!-- Chromecast library -->
    <script src="https://www.gstatic.com/cv/js/sender/v1/cast_sender.js?loadCastFramework=1"></script>
    <script>
      window['__onGCastApiAvailable'] = function(isAvailable) {
        if (isAvailable) {
          initializeCastApi();
        }
      };
      initializeCastApi = function() {
        cast.framework.CastContext.getInstance().setOptions({
          receiverApplicationId: chrome.cast.media.DEFAULT_MEDIA_RECEIVER_APP_ID,
          autoJoinPolicy: chrome.cast.AutoJoinPolicy.ORIGIN_SCOPED
        });
      };
      var castSession = cast.framework.CastContext.getInstance().getCurrentSession();
      var mediaInfo = new chrome.cast.media.MediaInfo(currentMediaURL, contentType);
      var request = new chrome.cast.media.LoadRequest(mediaInfo);
      castSession.loadMedia(request).then(
        function() { console.log('Load succeed'); },
        function(errorCode) { console.log('Error code: ' + errorCode); });
      var player = new cast.framework.RemotePlayer();
      var playerController = new cast.framework.RemotePlayerController(player);
      document.createElement('button', 'google-cast-button')
    </script>
    
    <%= favicon_link_tag "favicons/#{get_site_ico}.ico" %>
    
    <%= render "app/meta_tags" %>
    
	  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
	  
    <!-- Chrome, Firefox OS and Opera -->
    <meta name="theme-color" content="#000000">
    <!-- Windows Phone -->
    <meta name="msapplication-navbutton-color" content="#000000">
    <!-- iOS Safari -->
    <meta name="apple-mobile-web-app-status-bar-style" content="#000000">
    
  </head>
  <body>
    <%= render "app/header" if (invited? or anrcho?) and not (@cluster_flier_page or @forrest_web_co or @down) %>
    <%= yield %>
    <%= render "app/footer" unless @down or @cluster_flier_page %>
  </body>
</html>
